
/*<!-- Lokireddy, Rasmitha
       Jadrn032
       project #2
       fall 2017  -->
*/



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Merriweather', serif;
  margin: 0;
  background-size: cover;
  
}
.shipping{
  background-color: #DEB887;
  text-align: center;
  padding: 13px;
  }

  #ship p {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
     font-weight: 200px;
    margin-bottom: 0px;
    color: #8B4513;
   
    padding: 0px;
  }

ul {
  font-family: 'Acme', sans-serif;
  font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #8B4513;
    text-align: center;
}
.bertha{
  font-family: 'Great Vibes', cursive;
  font-size: 23px;
  font-weight: bolder;
}

.menu{
margin-left: 180px;

}
.pad{
  margin-left: 200px; 
margin-right: 200px;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFF;
    color: #8B4513;
    text-decoration: none;
}
h3{
  text-align: center;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
  color: #4d4d4d;
}
.contact p{
  text-align: center;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
  color: #4d4d4d;

}

.middle p{
  text-decoration: underline;
  font-size: 22px;
}

.foot{
  position: relative;
  display: block;
  background-color: #8B4513;
  color: #FFF;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  top: 20px;

}

.quotes p {

background-color: #8B4513;
  font-size: 30px;
  margin-left: 450px;
  top: 70px;
  text-align: center;

}

.last p {
  background-color: #8B4513;
top: 250px;
margin-left: 600px;
  bottom: 20px;
 }

#footer-content {
  background: #8B4513;
  display: inline-block;
}

